{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.animation {
    height: 100vh;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    position: relative;
    overflow: hidden;
}

.trakdot-img {
    height: 80px;
    position: absolute;
    top: 50%;
    left: 0%;
}